.form-contato{
    width: 100%;
    margin-top: 20px;
    float: left;
    

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.campos {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 15px;
    }

    textarea{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
        border-radius: 15px;
        
    }
    
    .flat-button {
        width: 100%;
        height: 50px;
        color: aqua;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid aqua;
        float: left;
        border-radius: 15px;
        cursor: pointer;
        transition: all 2s ease-out;

        &:hover {
            background: aqua;
            color: black;   
        }        
    }   
}
.map-info{
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 40%;
    z-index: 999999;
    width: 250px;
    padding: 30px;
    color: #fff;
    font-family: Impact;
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 2s 2s;
    animation-fill-mode: forwards;

    span {
        font-size: 20px;
        display: block;
        padding-top: 25px;
        color: aqua;
    }

}

.map {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    position: absolute;
    width: 55%;
    height: 100%;
    right: 30px;

}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 2s 2s;
    animation-fill-mode: forwards;
    
}


