.container {
    display: flex;
    flex: 5;
    justify-content: space-between;
    width: 100vw;
    will-change: contents;
    height: 100vh;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}