.projetos-page {
    flex: 5;
    display: flex;
    justify-content: space-between;

    .text-zone {
        position: relative;
        flex-direction: column;
        flex: 3;
        align-items: center;
        justify-content: center;
        margin: 7%;
        margin-top: 0;

        h1 {
            font-size: 55px;
            font-family: 'Impact';
            color: #fcc729;
            font-weight: 400;
            position: relative;

            .text.animate-hover {
                &:hover {
                    color: aqua;
                }
            }
        }

        .site-link {
            display: flex;
            float: right;
            position: relative;
            justify-content: space-between;
            align-items: center;
            width: 50px;
            height: 30px;
            margin-top: 25px;
            cursor: pointer;
            color: #fcc729;
        }

        .desc-projetos {
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            animation: pulse 1s;
            font-size: 20px;
            text-align: justify;
            background: rgba(255, 255, 255, 0.35);
            padding: 5px 20px;
            border-radius: 20px;
            box-shadow: 0 0 20px 0px lightblue;
            margin-bottom: 30px;

            h4 {
                display: flex;
                float: right;
                position: relative;
                justify-content: space-between;
                align-items: center;
                width: 200px;
                height: 30px;
                cursor: pointer;
                color: #fcc729;
                margin-bottom: 10px;
            }

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }
    }

    .projetos-zone {
        position: relative;
        flex-direction: column;
        flex: 2;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        margin-top: 5%;

        h1 {
            font-size: 25px;
            font-family: 'Impact';
            color: #fcc729;
            font-weight: 400;
            position: relative;
            margin-bottom: 5px;

            .text.animate-hover {
                &:hover {
                    color: aqua;
                }
            }
        }

        .video {
            overflow: hidden;
            height: 35%;
            width: 80%;
            display: flex;
            border: #fcc729 12px ridge;
            border-radius: 10px;
            position: relative;
            justify-content: center;
            margin-bottom: 20px;
            box-shadow: 0 0 20px 0px lightblue;

        }
    }
}