.home-page {
    flex: 5;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }


    .text-zone {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 3;
        align-items: center;
        justify-content: center;
        animation: pulse 1s;

        @media screen and (max-width: 768px) {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
        }

        h1 {
            color: #fcc729;
            font-size: 53px;
            margin: 0;
            font-family: "Impact";
            font-weight: 400;

            @media screen and (max-width: 768px) {
                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0;
                text-align: justify;
                font-size: 30px;
                width: 95%;
            }
        }

        h2 {
            color: #9fafca;
            margin-left: -62px;
            font-weight: 400;
            font-size: 20px;
            font-family: Impact;
            letter-spacing: 2px;
            animation: fadeIn 1s 1.8s backwards;

            @media screen and (max-width: 768px) {
                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0;
                text-align: justify;
                font-size: 18px;
                width: 95%;
            }
        }

        .flat-button {
            color: aqua;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2px;
            font-family: Impact;
            text-decoration: none;
            padding: 10px 20px;
            border: 1px solid aqua;
            margin-left: -498px;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;

            &:hover {
                background: aqua;
                color: #000;
            }

            @media screen and (max-width: 768px) {
                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: -250px;
                text-align: justify;
                font-size: 18px;
                width: 25%;
            }
        }

    }

    .hero-zone {
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 2;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
        }



        .hero {
            margin: 15%;
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 2;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 768px) {
                width: 100px;

            }
        }

        .hero-image {
            width: 35%;
            margin-top: -150px;
            position: absolute;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            animation: animate 2s infinite ease alternate;
            z-index: 1;

            @keyframes animate {
                to {
                    transform: translateY(40px)
                }

            }

            @media screen and (max-width: 768px) {
                display: none;

            }
        }
    }

}