.home-page{

    .text-zone{
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: "Impact";
        font-weight: 400;

        &::before {
            content: "<h1>";
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 5px;
            opacity: 0.6;
        }

        &::after{
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 30px;
            margin-left: 40px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: aqua;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid aqua;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: aqua;
            color: #000;
        }
    }

}